In [ ]:
#Type Casting or Type Conversion

In [1]:
a = 100
print(a)
print(type(a))

100
<class 'int'>

In [4]:
float(100)

100.0

In [5]:
type(56.67)

float

In [6]:
int(56.67)

56

In [7]:
str(45)

'45'

In [8]:
type(str(45))

str

In [9]:
int(mango)

NameError: name 'mango' is not defined

In [10]:
int('mango')

ValueError: invalid literal for int() with base 10: 'mango'

In [12]:
int("23gtree")

ValueError: invalid literal for int() with base 10: '23gtree'

In [11]:
type("23gtree")

str

In [13]:
str(43.87)

'43.87'

In [14]:
a = [1,2,3,4]
type(a)

list

In [15]:
s = set(a)
print(type(s))

<class 'set'>

In [17]:
s1 = {10, 20 ,30}
type(s1)

set

In [18]:
l1 = list(s1)
print(type(l1))

<class 'list'>

In [19]:
list("saturday")

['s', 'a', 't', 'u', 'r', 'd', 'a', 'y']

In [20]:
t1 = (1,2,3,4,4,6,8,8)

In [21]:
set(t1)

{1, 2, 3, 4, 6, 8}

In [22]:
#concatenation
4 + 6

10

In [23]:
5 + 6.78

11.780000000000001

In [24]:
1 + "one"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [25]:
str(1) + "one"

'1one'

In [26]:
1 + int("one")

ValueError: invalid literal for int() with base 10: 'one'

In [32]:
1 + "one"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
"Mango" + "Pineapple"

'MangoPineapple'

In [29]:
"Mango" + ' ' + "Pineapple"

'Mango Pineapple'

In [30]:
"Mango" + " Pineapple"

'Mango Pineapple'

In [31]:
"Mango " + "Pineapple"

'Mango Pineapple'

In [33]:
students = 10000

print("AI Ki Paathshala has ", students , " no. of students")

AI Ki Paathshala has  10000  no. of students

In [34]:
print("AI Ki Paathshala has " + str(students) + " no. of students")

AI Ki Paathshala has 10000 no. of students

In [ ]:
no_of_cars = 10
no_of_drivers = 5
print("There are", no_of_cars , "cars available but only", no_of_drivers, "drivers available to drive cars")

In [35]:
str(students)

'10000'

In [36]:
no_of_cars = 10
no_of_drivers = 5
print("There are", no_of_cars , "cars available but only", no_of_drivers, "drivers available to drive cars")

There are 10 cars available but only 5 drivers available to drive cars

In [38]:
#String Formatting

print("There are {} people participating in {} party".format(100, "Dance"))

There are 100 people participating in Dance party

In [39]:
# f-string
a = "AI Ki Pathshala"
b = "good"
print(f"Greetings from {a}! Have a {b} day")

Greetings from AI Ki Pathshala! Have a good day

In [40]:
print(f"Greetings from {b}! Have a {a} day")

Greetings from good! Have a AI Ki Pathshala day

In [41]:
print(f"Greetings from {b}! Have a {} day")

SyntaxError: f-string: empty expression not allowed (1027680187.py, line 1)

In [43]:
print(f"Greetings from {b}! Have a {kite} day")

NameError: name 'kite' is not defined

In [52]:
'{0} {1} {2} {3} {4} {5}'.format('I', 'want', 'to', 'go', 'For', 'movie')

'I want to go For movie'

In [53]:
'{5} {1} {3} {2} {4} {0}'.format('I', 'want', 'to', 'go', 'For', 'movie')

'movie want go to For I'

In [54]:
# Input function
input("Enter your name : ")

Enter your name : Anup

'Anup'

In [55]:
input("Enter your Salary: ")

Enter your Salary: 1000

'1000'

In [56]:
name = input("Enter your name : ")
print("Your name is ", name)

Enter your name : Anup Jha
Your name is  Anup Jha

In [ ]:
# Add two number by taking input from the user and then printing its value

In [57]:
# input() will always return string

roll_no = input("Enter your roll no :")
print(roll_no)
print(type(roll_no))

Enter your roll no :321
321
<class 'str'>

In [58]:
a = int(input("Enter first value :"))
b = int(input("Enter second value :"))
print(a + b)

Enter first value :10
Enter second value :30
40

In [59]:
a = (input("Enter first value :"))
b = (input("Enter second value :"))
print(a + b)

Enter first value :100
Enter second value :50
10050

In [60]:
a = int(input("Enter first value: "))
b = int(input("Enter second value: "))
print(a+b)

Enter first value: 10
Enter second value: 67
77